main {
    padding: 16px;
}

footer {
    padding: 24px 0px 24px 12px;
    background-color: rgb(137, 192, 56);
}

img {
    height: 200px;
}

nav {
    padding: 16px;
    border-bottom: 1px solid black;
    background-color: orangered;
}

h1 {
    color: green;
}



.page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
}

div  a {
    color: green;
}

nav a {
    color: white;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

tr:nth-child(2n+0) {
    background-color: rgb(183, 183, 183);
}
